.categories-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 70px;
   
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}

.category-container{

}